* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
}

.uppercase {
    text-transform: uppercase;
}

button {
    @extend %fz-mediun-btn;
    cursor: pointer;
    &:hover {
        filter: brightness(80%);
    }
    &:active {
        background: $green;
    }
    &:disabled{
        background: $dark-grey;
    }
}

.wrapper {
    overflow: hidden;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1160px;
}

//   .........................................................................................................................................

.header {
    position: absolute;
    width: 100%;
    z-index: 99;

    height: 80px;
    
    grid-area: header;
    background: $black;
    
    display: flex;
    justify-content: center;
    z-index: 5;
    a {
        cursor: pointer;
        &:hover {
            transition: .3s linear;
            opacity: .5;
        }
    }
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    min-width: 1160px;

    & a {
        text-decoration: none;
    }

    .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        
        position: relative;
        right: 40px;

        .nav-element {
            &:not(:first-child) {
                position: relative;
                padding-left: 60px;
            }

            &:last-child{
                position: relative;
                left: -5px;
            }

        }
    }
}

.logo {
    position: relative;
    @include size(82px, 52px);
    text-align: center;
    border: 1px solid #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    &-txt{
        color: #fff;
        font-size: 19.01px;
        font-weight: 400;
        line-height: 22.82px;
    }

    .bamboo{
        position: absolute;
        top: 21px;
        left: 10px;
    }
}

.nav-txt {
    color: white;
    @extend %fz-mediun-btn;
}

.prime {
    @extend %orange-font;
    cursor: default;
    &:hover {
        opacity: 1;

    }
}

.footer {
    grid-area: footer;
}

.footer-main {
    pointer-events: none;
    height: 443px;
    background-color: #111115;
    z-index: 99;
    a {
        cursor: pointer;
        pointer-events: auto;
        &:hover {
            transition: .3s linear;
            opacity: .5;
        }
    }
}

.foo-btn {
    width: 298px;
    height: 54px;

    background: $orange-not-gradient;
    border: none;
    pointer-events: auto;

    position: relative;

    &:active {
        background: $green;
    }

    h6 {
        color: white;
        @extend %fz-mediun-btn;
    }
}

.footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column1 {
    display: flex;
    flex-direction: column;
}

.socials {
    display: flex;
    flex-direction: column;

    position: relative;
    top: 131px;

    a:hover {
        opacity: 1;
    }
}

.social {
    pointer-events: auto;
    display: flex;
    flex-direction: row;

    position: relative;
    padding-top: 10px;

    p {
        position: relative;
        padding-top: 2.5px;
    }

    &:hover {
        p, div {
            filter: brightness(80%);
        } 
    }

    &:active {
        p {
            color: $green;
        } 

        div {
            background-color: $green;
        } 
    };

    &:disabled{
        p, div {
            background: $dark-grey;
            color: $dark-grey;
        }
    };
    
    p {
        @extend %fz-regular-smallest;
        color: white;

        position: relative;
        padding-left: 13px;
    };

    a {
        text-decoration: none;
    }
}

.circle-soc {
    width: 26px;
    height: 26px;
    background-color: #C4C4C4;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.social-img {

}

.column2 {
    display: flex;
    flex-direction: row;

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        pointer-events: auto;

        position: absolute;
        padding-top: 370px;
        padding-left: 130px;


        .foo-txt {
            @extend %fz-regular-smallest;

            &:first-child{
                padding-left: 5px;
            }

            position: relative;
            &:not(:first-child) {
                padding-left: 60px;
            }
            &:nth-child(3){
                padding-left: 58px;
            }
            &:nth-child(4){
                padding-left: 59px;
            }
        }
    }
}

.foo-txt {
    text-decoration: none;
}



.creators {
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;

    color: #fff;
    opacity: .7;

    position: relative;
    padding-top: 350px;
    padding-left: 700px;

    a {
        color: #fff;
    }
}

.footer-logo {
    position: relative;
    top: 41px;
}

.foo-btn {
    position: relative;
    top: 98px;
}

.column3 {
    position: absolute;
    pointer-events: auto;
}

.footer__subscr {
    position: absolute;
    padding-left: -1000px;
    width: 500px;
}

.footer__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #fff;
}
.footer__subscr-email {
    width: 230px;
    padding: 10px 7px 10px 10px;
    margin-top: 14px;
    margin-right: 5px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #e47209;
    border-radius: 2px;
    color: #fff;
}
.footer__subscr-email::-webkit-input-placeholder {
    color: #bdbdbd;
}
.footer__subscr-email::-moz-placeholder {
    color: #bdbdbd;
}
.footer__subscr-email:-ms-input-placeholder {
    color: #bdbdbd;
}
.footer__subscr-email::-ms-input-placeholder {
    color: #bdbdbd;
}
.footer__subscr-email::placeholder {
    color: #bdbdbd;
}
.footer__subscr-email:active {
    border: 1px solid #4b9200;
}
.footer__subscr-email:valid + .footer__subscr-submit {
    color: #000;
    border: 1px solid #000;
}
.footer__subscr-email:-moz-placeholder-shown + .footer__subscr-submit {
    color: #000;
    border: 1px solid #000;
}
.footer__subscr-email:-ms-input-placeholder + .footer__subscr-submit {
    color: #000;
    border: 1px solid #000;
}
.footer__subscr-email:placeholder-shown + .footer__subscr-submit {
    color: #000;
    border: 1px solid #000;
}
.footer__subscr-email:focus {
    outline: none;
}
.footer__subscr-email:focus:valid {
    color: #fff;
    border: 1px solid #4b9200;
}
.footer__subscr-email:focus:-moz-placeholder-shown {
    border: 1px solid #e47209;
}
.footer__subscr-email:focus:-ms-input-placeholder {
    border: 1px solid #e47209;
}
.footer__subscr-email:focus:placeholder-shown {
    border: 1px solid #e47209;
}
.footer__subscr-email:focus:invalid:required {
    color: red;
    border: 1px solid red;
}
.footer__subscr-submit {
    width: 130px;
    padding: 9px;
    background: #f1f3f2;
    border: 1px solid red;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: red;
}
.footer__subscr-submit:active {
    color: green !important;
    border: 1px solid #4b9200;
}

.footer__subscr {
    &:active {
        .footer__subscr-submit {
            background-color: white;
            opacity: 1;
            border: 1px solid #4b9200;
        }
    }
    &:hover {
        opacity: 1;
    }

    a:hover {
        opacity: 1;
    }

    position: relative;
    left: 463px;
    top: 40px;
}

.footer-logo {
    position: relative;
    left: 35px;
}

.foo-btn {
    position: relative;
    top: 110px;
    left: 30px;
    border-radius: 5px;
}

.socials {
    position: relative;
    left: 35px;
    top: 145px;
}

.double {
    line-height: 230%;
    font-size: 16px;
    font-weight: 100;

    pointer-events: auto;

    position: relative;
    top: -17px;
    left: -30px;
}
//   .........................................................................................................................................